{% extends "base.html" %}

{% block content %}
<main class="container">
    <div class="row">
        {% for task in tasks %}
            <div class="col-md-4 mt-4">  <!-- Cada publicación ocupa 4 columnas -->
                <div class="task card">
                    <div class="card-body">
                        <h2 class="card-title">{{ task.title }}</h2>
                        {% if task.image %}
                            <img src="{{ task.image.url }}" class="img-fluid" style="max-width: 100%; margin: 10px 0;">
                        {% endif %}
                        <p class="card-text">{{ task.description }}</p>
                        <p><strong>Creado por</strong> {{ task.user.username }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}