{% extends "base.html" %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            {% for task in tasks %}
                <div class="task">
                    <h2>{{ task.title }}</h2>
                    <p>{{ task.description }}</p>
                    {% if task.image %}
                        <img src="{{ task.image.url }}" style="max-width: 200px; display: block; margin: 10px 0;">
                    {% endif %}
                    <p><strong>Creado por:</strong> {{ task.user.username }}</p>  <!-- Mostrar el usuario que creó la tarea -->
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
