{% extends 'base.html' %}

{% block content %}

<main class="container">
<div class="row">
<section class="col-md-4 offset-md-4 mt-5">
<form action="/signin/" method="POST" class="card card-body">
    {% csrf_token %}
    
    <h1 class="text-center">Signin</h1>
                {{error}}
                {% csrf_token %}
                <div>
                    <label for="username" class="label">
                        <input name="username" type="text" id="username" required placeholder=" " maxlength="30" class="input">
                        <span class="label_name">Ingresa tu usuario</span>
                    </label>
                </div>
                <div>
                    <label for="password" class="label">
                        <input name="password" type="password" id="password" required placeholder=" " maxlength="8" class="input">
                        <span class="label_name">Ingresa tu contraseña</span>
                    </label>
                </div>
                <button class="btn btn-primary">
                    Signin
                </button>
</form>
</section>
</div>
</main>
{% endblock %}