{% extends 'base.html' %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body">
                <h1 class="text-center">Registrarse</h1>
                {{error}}
                {% csrf_token %}

                <!-- Campo de nombre de usuario -->
                <div>
                    <label for="username" class="label">
                        <input name="username" type="text" id="username" required placeholder=" " maxlength="30" class="input">
                        <span class="label_name">Ingresa tu usuario</span>
                    </label>
                </div>

                <!-- Campo de correo electrónico -->
                <div>
                    <label for="email" class="label">
                        <input name="email" type="email" id="email" required placeholder=" " maxlength="100" class="input">
                        <span class="label_name">Ingresa tu correo electrónico</span>
                    </label>
                </div>

                <!-- Campo de nombre -->
                <div>
                    <label for="first_name" class="label">
                        <input name="first_name" type="text" id="first_name" required placeholder=" " maxlength="100" class="input">
                        <span class="label_name">Ingresa tu nombre</span>
                    </label>
                </div>

                <!-- Campo de apellido -->
                <div>
                    <label for="last_name" class="label">
                        <input name="last_name" type="text" id="last_name" required placeholder=" " maxlength="100" class="input">
                        <span class="label_name">Ingresa tu apellido</span>
                    </label>
                </div>

                <!-- Campo de contraseña -->
                <div>
                    <label for="password1" class="label">
                        <input name="password1" type="password" id="password1" required placeholder=" " maxlength="8" class="input" aria-label="Contraseña" pattern=".{8,}" title="La contraseña debe tener al menos 8 caracteres">
                        <span class="label_name">Ingresa tu contraseña</span>
                    </label>
                </div>

                <!-- Campo de confirmar contraseña -->
                <div>
                    <label for="password2" class="label">
                        <input name="password2" type="password" id="password2" required placeholder=" " maxlength="8" class="input" aria-label="Confirmar contraseña" pattern=".{8,}" title="La contraseña debe tener al menos 8 caracteres">
                        <span class="label_name">Confirma contraseña</span>
                    </label>
                </div>

                <!-- Botón de registro -->
                <button class="btn btn-primary mt-3">
                    Registrarse
                </button>
            </form>
        </div>
    </div>
</main>

<!-- Validación de coincidencia de contraseñas con JavaScript -->
<script>
    const password1 = document.getElementById('password1');
    const password2 = document.getElementById('password2');

    // Evento para verificar las contraseñas
    password2.addEventListener('input', function () {
        if (password1.value !== password2.value) {
            password2.setCustomValidity("Las contraseñas no coinciden.");
        } else {
            password2.setCustomValidity("");
        }
    });
</script>

{% endblock %}
