{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>tasks</h1>
            <ul>
                {% for task in tasks %}
                <li>
                    <a href="{% url 'task_detail' task.id %}">
            
                    <h5>{{task.title}}</h5>
                    <p>{{task.description}}</p>
                    <p>{{task.user.username}}</p>
            
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>


{% endblock %}

